1. npm install -g @vue/cli
2. vue add vuetify
3. npm i axios
4. npm install vee-validate@3 --save
5. npm i vue-cookies



on windows error :
Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy Unrestricted -Force